{% extends 'base.html' %}

{% block title %}WeatherCast - Sign Up{% endblock %}

{% block content %}
    <div class="container mt-5 p-5 main">
        <h2 class="text-center">Registration</h2>
        {% if form.errors %}
            <div class="alert alert-danger text-center">
                {% for field in form %}
                    {% for error in field.errors %}
                        {{ error }}
                        <br>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <label for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
            {% endfor %}
            <button class="btn btn-outline-primary w-100" type="submit">Sign Up</button>
        </form>
        <span class="d-block text-center mt-2">Already have an account? <a class="text-center d-inline" href="{% url 'users:signin' %}">Sign In</a></span>
    </div>
{% endblock %}